.app{
  align-items: center;
}

.login{
  display: flex;
  flex-direction: column;
  padding: 200px;
 background-color: paleturquoise;
 margin: 100px;
}
  
html, div, video {
  height: 100%;
  width: 100%;
  margin: 0;
}

video {
  display: block;
}
#camdemo{
  width: 320px;
  height: 240px;
  text-align: center;
  margin: 0 auto;
}